@import 'styles/styled.scss';

.navBarContainer {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 210px;
  right: 0;
  top: 0;
  height: 100vh;
  @include flexbox($justify: end, $align: flex-start);
  @include tablet {
    height: auto;
  }
}

.nav {
  width: 200px;
  padding: 25px 15px 0 0;
  position: absolute;
  right: -200px;
  transition: right 0.3s;
  background-color: rgb(146, 146, 146, 0.9);
  @include flexbox($direction: column, $justify: flex-start);
  height: 100vh;

  &.visible {
    display: flex;
    background-color: rgb(146, 146, 146, 0.95);
    position: absolute;
    right: 0;
    width: 200px;
  }
  @include tablet {
    background-color: transparent;
    position: static;
    height: auto;
    @include flexbox($direction: column, $justify: flex-start, $align: flex-end);
    &.visible {
      @include flexbox($direction: column, $justify: flex-start, $align: flex-end);
      background-color: transparent;
      position: static;
      height: auto;
    }
  }
  gap: 15px;
  a {
    text-decoration: none;
    color: $background-color;
  }
  .active {
    color: $primary-orange;
  }
}

.burger {
  @include tablet {
    display: none;
  }
  color: $primary-orange;
  width: 30px;
  height: 30px;
  margin: 15px;
}

.linkWrap {
  @include font($fw: 600);
  @include flexbox($direction: column);
  @include tablet {
    @include flexbox($direction: row, $align: flex-end);
  }

  gap: 20px;
}

.closeIcon {
  width: 25px;
  height: 25px;
  color: red;
  position: absolute;
  left: 10px;
  top: 10px;
  @include tablet {
    display: none;
  }
}
