@import 'styles/styled.scss';

.navBarContainer {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 210px;
  right: 0;
  padding: 15px 10px 0 0;
  top: 0;
  height: 400px;

  @include flexbox($justify: end, $align: flex-start);
}
.nav {
  width: 200px;
  padding-top: 15px;
  position: absolute;
  right: -200px;
  transition: right 0.3s;
  background-color: rgb(146, 146, 146, 0.9);
  @include flexbox($direction: column, $justify: flex-start);
  height: 400px;
  &.visible {
    display: flex;

    background-color: rgb(146, 146, 146, 0.95);
    position: absolute;
    right: 0;
    width: 200px;
  }
  @include tablet {
    &.visible {
      display: flex;
      background-color: transparent;
      position: static;
      height: auto;
    }
    position: static;
    @include flexbox($direction: row, $justify: flex-end);
  }
  gap: 15px;
  a {
    text-decoration: none;
    color: $background-color;
  }
  .active {
    color: $primary-orange;
  }
}
.burger {
  @include tablet {
    display: none;
  }
  color: $primary-orange;
  width: 30px;
  height: 30px;
}
.linkWrap {
  @include flexbox($direction: column);
  gap: 20px;
}
.closeIcon {
  width: 25px;
  height: 25px;
  color: red;
  position: absolute;
  left: 10px;
  top: 10px;
}
