@import 'styles/styled.scss';

.container {
  padding: 0 10px;
  @include flexbox($direction: column);
  @include start {
    width: 100%;
  }
  @include mobile {
    width: 425px;
  }
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1280px;
  }
  @include desktopFull {
    width: 1920px;
  }
}
